# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
mongo.list_database_names()

['admin',
 'autosaurus',
 'classdb',
 'config',
 'epa',
 'fruits_db',
 'local',
 'met',
 'uk_food']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [9]:
# Find the establishments with a hygiene score of 20
query = {"scores.Hygiene": 20}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
print(f"Number of establishments with a hygiene score of 20: {count}")

# Display the first document in the results using pprint
first_result = establishments.find_one(query)
print("First document with a hygiene score of 20:")
pprint(first_result)

Number of establishments with a hygiene score of 20: 41
First document with a hygiene score of 20:
{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('667a18566dbc40c980635050'),
 'geocode': {'latitude': 50.769705, 'longitude': 0.27694},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [11]:
# Fetch all documents matching the query
results = list(establishments.find(query, {"BusinessName": 1, "scores.Hygiene": 1}))

# Extract 'BusinessName' and 'Hygiene' from the results
data = []
for result in results:
    business_name = result.get("BusinessName", None)
    hygiene_score = result.get("scores", {}).get("Hygiene", None)
    data.append({"BusinessName": business_name, "Hygiene": hygiene_score})

# Convert the data to a Pandas DataFrame
df = pd.DataFrame(data, columns=["BusinessName", "Hygiene"])

# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {len(df)}")

# Display the first 10 rows of the DataFrame

df.head(10)

Number of rows in the DataFrame: 41

                BusinessName  Hygiene
0        The Chase Rest Home       20
1                 Brenalwood       20
2              Melrose Hotel       20
3              Seaford Pizza       20
4              Golden Palace       20
5           Ashby's Butchers       20
6  South Sea Express Cuisine       20
7              Golden Palace       20
8             The Tulip Tree       20
9                      F & S       20

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [13]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.
london_query = {
    'LocalAuthorityName': {'$regex': 'London', '$options': 'i'},
    'RatingValue': {'$gte': 4}
}

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(london_query)
print(f"Number of documents with LocalAuthorityName containing 'London' and a RatingValue >= 4: {count}")

# Display the first document in the results using pprint
london_result = establishments.find_one(london_query)
print("First document with LocalAuthorityName containing 'London' and a RatingValue >= 4:")
pprint(london_result)

Number of documents with LocalAuthorityName containing 'London' and a RatingValue >= 4: 33
First document with LocalAuthorityName containing 'London' and a RatingValue >= 4:
{'AddressLine1': 'Oak Apple Farm Building 103 Sheernes Docks',
 'AddressLine2': 'Sheppy Kent',
 'AddressLine3': '',
 'AddressLine4': '',
 'BusinessName': "Charlie's",
 'BusinessType': 'Other catering premises',
 'BusinessTypeID': 7841,
 'ChangesByServerID': 0,
 'Distance': 4627.439467780196,
 'FHRSID': 621707,
 'LocalAuthorityBusinessID': 'PI/000025307',
 'LocalAuthorityCode': '508',
 'LocalAuthorityEmailAddress': 'publicprotection@cityoflondon.gov.uk',
 'LocalAuthorityName': 'City of London Corporation',
 'LocalAuthorityWebSite': 'http://www.cityoflondon.gov.uk/Corporation/homepage.htm',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'ME12',
 'RatingDate': '2021-10-18T00:00:00',
 'RatingKey': 'fhrs_4_en-gb',
 'RatingValue': 4,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('667a18576dbc40c980636a6f'),
 'geocode': {'latitude': 51.369321, 'longitude': 0.508551},
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/621707',
            'rel': 'self'}],
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 5, 'Hygiene': 5, 'Structural': 10}}

In [14]:
# Fetch all documents matching the query with only 'LocalAuthorityName' and 'RatingValue' fields
london_results = list(establishments.find(london_query, {"LocalAuthorityName": 1, "RatingValue": 1}))

# Extract 'LocalAuthorityName' and 'RatingValue' from the results
data = []
for result in london_results:
    local_authority_name = result.get("LocalAuthorityName", None)
    rating_value = result.get("RatingValue", None)
    data.append({"LocalAuthorityName": local_authority_name, "RatingValue": rating_value})

# Convert the data to a Pandas DataFrame named london_df
london_df = pd.DataFrame(data, columns=["LocalAuthorityName", "RatingValue"])

# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {len(london_df)}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
london_df.head(10)

Number of rows in the DataFrame: 33
First 10 rows of the DataFrame:

           LocalAuthorityName  RatingValue
0  City of London Corporation            4
1  City of London Corporation            5
2  City of London Corporation            4
3  City of London Corporation            5
4  City of London Corporation            5
5  City of London Corporation            5
6  City of London Corporation            5
7  City of London Corporation            4
8  City of London Corporation            5
9  City of London Corporation            5

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [17]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = 51.490142
longitude = 0.083840

query = {
    'RatingValue': 5,
    'geocode.latitude': {'$gte': latitude - degree_search, '$lte': latitude + degree_search},
    'geocode.longitude': {'$gte': longitude - degree_search, '$lte': longitude + degree_search}
}
sort = [('scores.Hygiene', 1)] 
limit = 5

# Retrieve the documents
results = list(establishments.find(query).sort(sort).limit(limit))

# Print the results
print("Top 5 establishments with a RatingValue of 5, sorted by lowest hygiene score, nearest to 'Penang Flavours':")
for result in results:
    print(f"Business Name: {result['BusinessName']}, Hygiene Score: {result['scores']['Hygiene']}")

Top 5 establishments with a RatingValue of 5, sorted by lowest hygiene score, nearest to 'Penang Flavours':
Business Name: Volunteer, Hygiene Score: 0
Business Name: Plumstead Manor Nursery, Hygiene Score: 0
Business Name: Atlantic Fish Bar, Hygiene Score: 0
Business Name: Iceland, Hygiene Score: 0
Business Name: Howe and Co Fish and Chips - Van 17, Hygiene Score: 0

In [21]:
# Convert result to Pandas DataFrame
top_five_df = pd.DataFrame(results, columns=['BusinessName', 'scores'])

# Extract the relevant information
top_five_df['HygieneScore'] = top_five_df['scores'].apply(lambda x: x.get('Hygiene'))
top_five_df = top_five_df[['BusinessName', 'HygieneScore']]

top_five_df

                          BusinessName  HygieneScore
0                            Volunteer             0
1              Plumstead Manor Nursery             0
2                    Atlantic Fish Bar             0
3                              Iceland             0
4  Howe and Co Fish and Chips - Van 17             0

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [22]:
# Create a pipeline that:
# 1. Matches establishments with a hygiene score of 0
# 2. Groups the matches by Local Authority
# 3. Sorts the matches from highest to lowest
pipeline = [
    {
        '$match': {
            'scores.Hygiene': 0
        }
    },
    {
        '$group': {
            '_id': '$LocalAuthorityName',
            'count': {'$sum': 1}
        }
    },
    {
        '$sort': {'count': -1}
    }
]

results = list(establishments.aggregate(pipeline))

# Print the number of documents in the result
print(f"Number of documents in the result: {len(results)}")
# Print the first 10 results
print("First 10 results:")
pprint(results[:10])

Number of documents in the result: 55
First 10 results:
[{'_id': 'Thanet', 'count': 1130},
 {'_id': 'Greenwich', 'count': 882},
 {'_id': 'Maidstone', 'count': 713},
 {'_id': 'Newham', 'count': 711},
 {'_id': 'Swale', 'count': 686},
 {'_id': 'Chelmsford', 'count': 680},
 {'_id': 'Medway', 'count': 672},
 {'_id': 'Bexley', 'count': 607},
 {'_id': 'Southend-On-Sea', 'count': 586},
 {'_id': 'Tendring', 'count': 542}]

In [24]:
# Convert the result to a Pandas DataFrame
df = pd.DataFrame(results)

# Rename the columns for clarity
df.columns = ['LocalAuthorityName', 'Count']

# Display the number of rows in the DataFrame
print(f"Number of rows in the DataFrame: {len(df)}")

# Display the first 10 rows of the DataFrame
print("First 10 rows of the DataFrame:")
df.head(10)

Number of rows in the DataFrame: 55
First 10 rows of the DataFrame:

  LocalAuthorityName  Count
0             Thanet   1130
1          Greenwich    882
2          Maidstone    713
3             Newham    711
4              Swale    686
5         Chelmsford    680
6             Medway    672
7             Bexley    607
8    Southend-On-Sea    586
9           Tendring    542